nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
}

nav img {
    width: 70px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #D5B263;
    font-size: 16px;
    margin-right: 25px;
    transition: color 0.3s ease;
}

nav ul li:hover a {
    color: #C9AD8B;
}

nav ul li:last-child a {
    margin: 0;
}